.footer {
  background-color: #212529;
  padding: 0;
  .row .col {
    padding: 0;
    .container-fluid {
      display: flex;
      align-items: center;
      justify-content: center;
      .footer-text {
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        color: rgba(255,255,255,.50);
        margin: 0;
        font-size: 1rem;
        &:focus-visible {
          outline: -webkit-focus-ring-color auto 1px;
          outline-color: -webkit-focus-ring-color;
          outline-style: auto;
          outline-width: 1px;
          color: rgba(255,255,255,.75) !important;
        }
        & .active {
          color: #fff !important;
        }
      }
      &:hover {
        cursor: pointer;
        .footer-text {
          color: rgba(255,255,255,.75);
        }
      }
    }
  }
}